/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .vbms-settings-url {
    min-width: 30vw;
}

.vbms-admin-options-note {
    display: block;
    font-size: 80%;
    font-style: italic;
}